<!DOCTYPE html>
<html>
<head>
  <title>EmiteGWT - <%= yield :title %></title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet/less" type="text/css" href="/stylesheets/style.less"/>
  <script src="/javascripts/less-1.0.41.min.js" type="text/javascript"></script>
  <%= csrf_meta_tag %>
  <meta name="emite.httpBase" content="/http-bind/"/>
  <meta name="emite.host" content="emitegwt.info"/>
  <meta name="emite.session" content="logout"/>

  <%= yield :head %>
</head>
<body>

<div id="page">
  <%= yield %>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
</script>
<script type="text/javascript">
    !window.jQuery && document.write('<script src="/javascripts/jquery-1.4.4.min.js"><\/script>')
</script>
<%= javascript_include_tag 'plugins.js', 'scripts.js' %>

</body>
</html>
